{% load cart_template_tags %}
<!--Navbar -->

<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container">
    <a class="navbar-brand" href="/"><strong class="blue-text">Hamari Dukaan</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:order-summary' %}">
            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
            <i class="fas fa-shopping-cart"></i> Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Hi {{ user.get_username|title }}! </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="{% url 'core:wishlist-summary' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'core:order-history' %}">My account</a>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
          </div>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
        {% endif %}
      </ul></div>
    </div>
</nav>
<!--/.Navbar -->



<!--<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">-->
<!--    <div class="container">-->

<!--      &lt;!&ndash; Brand &ndash;&gt;-->
<!--      <a class="navbar-brand waves-effect" href="/">-->
<!--        <strong class="blue-text">Mango!</strong>-->
<!--      </a>-->

<!--      &lt;!&ndash; Collapse &ndash;&gt;-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      &lt;!&ndash; Links &ndash;&gt;-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--        &lt;!&ndash; Left &ndash;&gt;-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--          {% comment %} <li class="nav-item active">-->
<!--            <a class="nav-link waves-effect" href="/">Home-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link waves-effect" href="/checkout">-->
<!--            Checkout</a>-->
<!--          </li> {% endcomment %}-->
<!--        </ul>-->

<!--        &lt;!&ndash; Right &ndash;&gt;-->
<!--        <ul class="navbar-nav nav-flex-icons">-->
<!--          {% if request.user.is_authenticated %}-->
<!--          <li class="nav-item">-->
<!--            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">-->
<!--              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>-->
<!--              <i class="fas fa-shopping-cart"></i>-->
<!--              <span class="clearfix d-none d-sm-inline-block"> Cart </span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="{% url 'core:wishlist-summary' %}" class="nav-link waves-effect">-->
<!--              <span class="badge blue z-depth-1 mr-1"> {{ request.user|wishlist_item_count }} </span>-->
<!--              <i class="fas fa-heart"></i>-->
<!--              <span class="clearfix d-none d-sm-inline-block"> Wishlist </span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">-->
<!--              <span class="clearfix d-none d-sm-inline-block"> Logout </span>-->
<!--            </a>-->
<!--          </li>-->
<!--          {% else %}-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link waves-effect" href="{% url 'account_login' %}">-->
<!--              <span class="clearfix d-none d-sm-inline-block"> Login </span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">-->
<!--              <span class="clearfix d-none d-sm-inline-block"> Signup </span>-->
<!--            </a>-->
<!--          </li>-->
<!--          {% endif %}-->
<!--        </ul>-->
<!--      </div>-->

<!--    </div>-->
<!--  </nav>-->