-{% extends "base.html" %}
{% load cart_template_tags %}
{% block content %}


  <!-- Main layout -->
  <main>
    <section class="container">

      <!--Section: Block Content-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Trips</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div>
            <table class="table table-striped">
                <thead>
                  <tr>

            <th scope="col">Hotel Name</th>
            <th scope="col">Staying Date</th>
            <th scope="col"># Days</th>
            <th scope="col"># of Guest</th>
                  </tr>
                </thead>
                <tbody>
                {% for order_item in object.items.all %}
                  <tr>
                    <td>{{ order_item.item.title }}</td>
                    <td>{{ order_item.start_date|date:'d-m-Y' }} to {{ order_item.end_date|date:'d-m-Y' }}</td>
                    <td>{{ order_item.days }}</td>
                    <td>{{ order_item.guest }}</td>
                  </tr>

                {% endfor %}






                </tbody>
              </table>
            </div>

          </div>

          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<section id="cards" class="text-center">

            <div class="container">
            <div class="row justify-content-md-center">
              <br>
              <br>
            <div class="col-8">
              <br>
                <!-- Card -->
                <div class="card card-cascade">

                  <!-- Card image -->
                  <div class="view view-cascade gradient-card-header tempting-azure-gradient">

                    <!-- Title -->
                    <br>
                    <h2 class="card-header-title mb-3">Hello, <strong class="text-propercase">{{ user.get_username|title }}</strong>
                    </h2>
                    <!-- Subtitle -->
<!--                    <p class="card-header-subtitle mb-0">Deserve for her own card</p>-->

                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade text-center">

                    <!-- Text -->
                      <div class="container">
                        <div class="row">
                          <dt class="col-sm">User Name</dt>
                          <dd class="col-sm">{{user|title}}</dd></div>
                    <hr>
                                            <div class="row">
                          <dt class="col-sm">First Name</dt>
                          <dd class="col-sm">{{user.first_name|title}}</dd></div>
                               <hr>
                                                <div class="row">
                          <dt class="col-sm">Last Name</dt>
                          <dd class="col-sm">{{user.last_name|title}}</dd></div>

                    <hr>
                    <!-- Edit -->
                    <a class="px-2 fa-lg email-ic" data-toggle="modal" data-target="#modalDefaultContactForm"><i class="fa fa-pencil-alt"> </i></a>

                  </div>
              </div>
                </div>
                <!-- Card -->
                </div>
              </div>
              </div>
</section>

            <div class="modal fade" id="modalDefaultContactForm" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <!--Modal: Contact form-->
              <div class="modal-dialog cascading-modal" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Header-->
                  <div class="modal-header info-color white-text">
                    <h4 class="title">
                      Edit Profile</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <!--Body-->
                  <div class="modal-body">
                  <form action="/edituser/" method="POST">{% csrf_token %}
                    <!-- Default input name -->
                    <label for="defaultFormNameModalEx">User Name</label>
                    <input type="text" id="defaultFormNameModalEx" name ="uname" class="form-control form-control-sm" value="{{user|title}}">

                    <br>

                    <!-- Default input email -->
                    <label for="defaultFormEmailModalEx">First Name</label>
                    <input type="text" id="defaultFormEmailModalEx" name ="fname" class="form-control form-control-sm" value="{{user.first_name|title}}">

                    <br>

                    <!-- Default input subject -->
                    <label for="defaultFormSubjectModalEx">Last Name</label>
                    <input type="text" id="defaultFormSubjectModalEx" name ="lname" class="form-control form-control-sm" value="{{user.last_name|title}}">

                    <br>

                    <!-- Default textarea message -->

                    <div class="text-center mt-4 mb-2">
                      <button type="submit" class="btn btn-info">Submit
                        <i class="fa fa-send ml-2"></i>
                      </button>
                    </div>
</form>
                  </div>
                </div>
                <!--/.Content-->
              </div>
              <!--/Modal: Contact form-->

            </div>



  </main>

{% endblock content %}

