{% extends "base.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}

  <main >
    <div class="container wow fadeIn">

      <h2 class="my-5 h2 text-center">Payment</h2>

      <div class="row">

        <div class="col-md-12 mb-4">
          <div class="card">
                  <div class="stripe-form-row">
                      <a href="" class="btn btn-primary btn-md my-0 p">
              Submit Payment </a>

                  </div>
              </div>
            </div>
          </div>

        {% include "order_snippet.html" %}

      </div>

    </div>
  </main>

{% endblock content %}